.thumbnail {
        width: 100%; /* Passt die Breite an den Container an */
        height: auto; /* Beibehaltung des Seitenverhältnisses */
        cursor: pointer;
        transition: transform 0.3s ease;
        object-fit: contain; /* Verhindert das Zuschneiden des Bildes */
    
}

.thumbnail:hover {
    transform: scale(1.05);
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}